body{
    font-family: Arial, Helvetica, sans-serif;
}

#calculadora{
    width: 350px;
    margin: 100px auto;
}

#calculadora #botones-container{
    display: grid;
    grid-template: repeat(4,80px)/ repeat(4,1fr)
}

#calculadora button{
    padding: 14px 5px;
}

#calculadora #display{
    border: 1px solid black;
    padding: 10px;
    text-align: right;
    font-size: 48px;
}



.button-31 {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}